html, body {
	font-size: 100.01%;
}
body
{
	background-color: #ffffff;
	color: #000000;
	font-family:Georgia,Serif;
}
a {
	text-decoration: none;
	color: grey;
}
a:hover {
	text-decoration: none;
	color: black;
}
table {
	border-collapse: collapse;
}
tr {
	border:1px solid black;
}
tr.data {
	background-color: #ddd;
}
th.fullpath {
	padding: 5px 5px 5px 5px;
	text-align: left;
	width:40%;
}
th.title {
	width: 10%;
}
th.author {
	width:10%;
}
th.tags {
	width:35%;
	text-align: left;
}
th.filesize {
	text-align: right;
	width: 5%;
}